.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  text-decoration: none;
  color: white;
}

.feedback-form{
  /* background-color: #90caf9; */
  border: 1px solid black;
  border-radius: 10px;
  width: 44vw;
  /* margin-left: 20vw; */
  margin-top: 3vw;
}

.feedback-form-box{
  width: 40vw;
  opacity: 90%;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.feedback-buttons-row{
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-evenly;
}

.feedback-instructions{
  /* border: 1px solid black; */
  text-align: left;
}

.speech-results{
  width: 40vw;
  /* margin-left: 2vw; */
  /* margin-bottom: 2vw; */
  /* border: 1px solid black; */
  border-radius: 5px;
  height: 10em;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.feedbackBtn{
  text-align: center;
  /* border: 1px solid black; */
}

.form-card{
  /* border: 1px solid black; */
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 44vw;
  height: 44vw;
}

.caption{
  color: rgb(127, 136, 139);
}

.big-feedback{
  border-bottom: 3px solid rgb(25, 60, 177);
  padding: 4vw;
  display: flex;
}